# Ignore node_modules directories
node_modules

# Ignore .env files
.env*

# Ignore build directories
build
dist

# Ignore files generated during development
coverage
*.log

# Ignore IDE specific files
.idea
.vscode

# Ignore files upload directory
uploads

# Ignore macOS specific files
.DS_Store
